body {
    background-color: pink;
}

h1 {
    font-family: "Verdana",sans-serif;
    font-size: 50px;
    text-align: center;
    color: darkred;
}

img {
    margin-left: 350px;
}

h3 {
    font-family: "verdana",sans-serif;
    font-size: 30px;
    color: darkred;
}

p {
    
}